.passage {
  line-height: 2em;
}

.verse-controls {
  button {
    position: fixed;

    width: 10%;
    padding: 0;
    border: 0;
    outline: 0;

    font-size: 3em;

    background: transparent;
    color: $vintage-gray;

    transition: color 0.3s ease-in-out;

    &:hover {
      color: $vintage-rust;
    }

    &:disabled {
      color: $vintage-background;
    }

    &.previous {
      top: 0;
      bottom: 0;
      left: 0;
    }

    &.next {
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  @media screen and (max-width: 319px) {
  	.previous {
  		order: -2;
  	}

  	.next {
  		order: -1;
  	}
  }
}

.passage-metadata {
	color: $vintage-gray;
	flex-grow: 2;
	margin: 0 1em;
}

.verse-wrapper {
  margin-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%;
}

.stage-controls {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  width: 100%;
  max-width: $large-width;
  padding: $default-padding;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 0 0 60px 10px $vintage-background;

  background-color: rgba($vintage-background-rgb, .75);

  button {
    display: inline-block;

    background: $vintage-eggy;
		border: 0;
    border-radius: $corner-radius;
    color: $vintage-white;

    flex-grow: 1;
    margin: 0 0.5em;
    padding: 0.2em 0;
    text-align: center;

    i.fa {
      width: 2em;
    }

    &.active {
      background: $vintage-rust;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
