.passage {
  line-height: 2em;
}

.passage-card {
	background: #eee;
  border-bottom: 1px solid white;
	display: inline-block;
	font-family: monospace;
	margin: 0 0.1em;
	padding: 1em;
	white-space: pre-wrap;
	width: 100%;
}

body.js-source-code-pro-loaded .passage-card {
	font-family: 'Source Code Pro', monospace;
}

.passage-card .navigation {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 319px) {
	.passage-card .navigation .previous {
		order: -2;
	}

	.passage-card .navigation .next {
		order: -1;
	}
}

.passage-metadata {
	color: #999;
	flex-grow: 2;
	margin: 0 1em;
}
