.passage-metadata {
	color: $vintage-gray;
	flex-grow: 2;
	margin: 0 1em;
}

.stage-controls {
  list-style: none;
  padding-left: 0;
	display: flex;
	flex-direction: row;

  button {
    background: $vintage-eggy;
		border: 0;
    border-radius: $corner-radius;
    color: $vintage-white;
    display: inline-block;
    flex-grow: 1;
    margin: 0 0.5em;
    padding: 0.2em 0;
    text-align: center;

    i.fa {
      width: 2em;
    }

    &.active {
      background: $vintage-rust;
    }
  }
}
